@font-face {
    font-family: "Muller"; 
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/MullerBold.woff2") format("woff2"), 
        url("../fonts/MullerBold.woff") format("woff"); }
@font-face {
    font-family: "Muller"; 
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/MullerLight.woff2") format("woff2"), 
        url("../fonts/MullerLight.woff") format("woff"); }   
@font-face {
    font-family: "Muller"; 
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/MullerRegular.woff2") format("woff2"), 
        url("../fonts/MullerRegular.woff") format("woff"); }
@font-face {
    font-family: "Muller"; 
    font-weight: 500;
    src: url("../fonts/MullerMedium.woff2") format("woff2"), 
        url("../fonts/MullerMedium.woff") format("woff"); } 

* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
    color: #CC9933;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: Muller, sans-serif;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

section
{
    padding-top: 70px;
}

.btn {
    display: inline-block;
    line-height: 100%;
    padding: 13px 20px;
    gap: 10px;
    border: 1px solid #CC9933;
    color: #CC9933;
    border-radius: 10px;
}

input,
select {
    padding-top: 15px;
    border: none;
    width: 100%;
}

input[type=number] {
    border-bottom: 1px solid #CCCCCC;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.heading {
    font-size: 40px;
    color: #333;
    padding-left: 45px;
}

.icon-arrow {
    display: inline-block;
    width: 11px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    margin-left: 5px;
    transform: translateY(-1px);
}

.icon-arrow-golden {
    background-image: url(../img/ArrowGolden.svg);
}

.icon-arrow-bronze {
    background-image: url(../img/ArrowBronze.svg);
}

.icon-arrow-white {
    background-image: url(../img/ArrowWhite.svg);
}


/* HEADER */
.header {
    min-height: 154px;
  }

.header-top {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: contents;
}

.header-top-left {
    display: flex;
    align-items: center;
}

.header-top-right {
    display: flex;
    align-items: center;
}

.header-phone {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    color: #666666;
}

.header-top-cabinet-icon {
    --margin-left: auto;
    margin-right: 5px;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    background-color: transparent;
    background-image: url(/img/keyboard_tab.png);
    transform: translateY(-2px);
}

.header-cabinet-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.nav-bar {
    padding-top: 30px;
    
}

.nav {
    --padding-left: 45px;
    --padding-right: 45px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 70px;
    justify-content: stretch;
}

.nav-list {
    margin-left: 45px;
    display: flex;
    align-items: center;
}

.nav-item:not(:first-child) {
    margin-left: 45px;
}

.nav-item:last-child {
    margin-right: 56px;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.nav-btns {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid #E1E1E1;
}

.nav-btns:first-child {
    margin-left: 17px;
}

/*  Special Offers*/

.section-offers-heading {
    padding-bottom: 20px;
}

.section-offers-tiles {
    display:flex;
    gap: 23px;
  }
  
  .section-offers-tiles-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 23px;
  }
  
  .section-offers-tile {
    min-width: 573px;
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.section-offers-info{
    width: 299px;
    margin: 40px auto 40px 40px;
}

.section-offers-tile-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.section-offers-tile-description {
    padding-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
}

.section-offers-tile-header-big {
    font-size: 60px;
    color: #FFF;
}

.section-offers-tile-description-big {
    padding-top: 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
}

.section-offers-tile-details {
    padding-top: 47px;
    display: flex;
    align-items: center;
}

.section-offers-detail-link {
    font-size: 16px;
    vertical-align: top;
    color: #FFCC66;
}

.image-maldives {
    background-image:url(/img/maldives.png);
}

.image-crite {
    background-image:url(/img/crite.png);
}

.image-lux {
    background-image:url(/img/lux.png);
}

/* About us */

.about-description {
    width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/* Services */

.services-list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.services-item {
    width: 573px;
    min-height: 330px;
    
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.services-item-info {
    height: 50%;
    padding: 26px 45px;
}

.services-item-info-header {
    display: flex;
    align-items: center;
}

.services-item-info-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
}


.services-item-info-description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/* Advantages */

.advantages-list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.advantages-item {
    width: 275px;
    min-height: 275px;
    padding-top: 40px;
    padding-left: 45px;
    background-color: white;
    border-radius: 15px;
}

.advantages-item-info {
    margin-top: 10px;
    width: 188px;
    line-height: 200%;
}

.advantages-item-icon {
    height: 66px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
}

.advantages-item-icon-bath {
    width: 64px;
    background-image: url("../img/bathtub.svg");
}

.advantages-item-icon-hanger {
    width: 67px;
    background-image: url("../img/hanger.svg");
}

.advantages-item-icon-heating {
    width: 64px;
    background-image: url("../img/heating.svg");
}

.advantages-item-icon-key {
    width: 66px;
    background-image: url("../img/hotel-key.svg");
}

.advantages-item-icon-parking {
    width: 66px;
    background-image: url("../img/parking.svg");
}

.advantages-item-icon-reception {
    width: 64px;
    background-image: url("../img/reception.svg");
}

.advantages-item-icon-security {
    width: 67px;
    background-image: url("../img/security-box.svg");
}

.advantages-item-icon-pool {
    width: 64px;
    background-image: url("../img/swimming-pool.svg");
}

/* Accommodation */

.accommodation-list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.accommodation-item {
    width: 374px;
    height: 440px;
    border-radius: 15px;
    background-color: white;
}

.accommodation-item-info {
    padding: 36px 45px;
}

.accomodation-item-info-price {
    display: flex;
    align-items: flex-end;
}

.accomodation-item-info-price-from {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.accomodation-item-info-price-amount {
    padding-left: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.accomodation-item-info-price-per {
    padding-left: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.accommodation-item-stars {
    display: inline-block;
    margin-left: auto;
}

.accomodation-item-info-hotel {
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.accomodation-item-info-place {
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.rooms-btn {
    margin-top: 20px;
}

.accommodation-item-others {
    background-image: url(/img/41.png);
    background-position: center;
    background-size: 100%;
}

.accommodation-item-others-info {
    padding-top: 373px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accommodation-item-others-link {
    line-height: 200%;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
}

/* Form */

.form-container {
    background-color: #E9E9E9;
    border-radius: 15px;
}

.form-heading {
    padding-top: 38px;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}

.tour-form{
    padding-bottom: 71px;
    padding-left: 45px;
    padding-right: 45px;
}

.tour-form-list {
    display: flex;
    margin-top: 19px;
    padding: 28px;
    background-color: #fff;
    border-radius: 15px;
    justify-content: space-between;
}

.tour-form-item label {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

.tour-form-item select,
.tour-form-item input {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}


.tour-form-item:not(:last-child) {
    padding-right: 20px;
    border-right: 1px solid #E1E1E1;
}
.tour-form-item:not(:first-child) {
    margin-left: 20px;
}

.search-btn {
    padding: 13px 30px;
}

/* Contacts */

.contacts {
    padding-bottom: 15px;
}

.contacts-heading {
    padding-bottom: 26px;
}

.contacts-info {
    padding: 44px 44px 46px 46px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #FFF;
    border-radius: 15px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
}

.contacts-item {
    display: flex;
    justify-content: space-between;
}

.contacts-item:not(:first-child) {
    padding-top: 25px;
}
.contacts-item:not(:last-child) {
    padding-bottom: 25px;
    border-bottom: 1px solid #C4C4C4;
}
.contacts-item:last-child {
    height: 100%;
}

.contacts-item-name {
    flex: 0 0 40%;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.contacts-item-info {
    flex: 0 0 60%;
}

.contacts-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.contacts-phones {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.contacts-emails {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.contacts-email-description {
    color: #999999;
}

.contacts-schedule {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.contacts-route {
    display: flex;
    align-items: flex-end;
}

.route-btn {
    padding: 27px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.contacts-image {
    border-radius: 15px;
}